<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1> 
    <h2>{{ subTitle }}</h2>
    <h6>{{ proba1 }} {{ proba2 }}</h6>
    <p class="attention">This is the main page</p>    

    <input type="text" id="example">
    <button id="action">Klick</button>
        <p id="text"></p>
    <script src="./../js/funct.js"></script>
</body>
</html>
